*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

header{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url(../images/4.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

h2{
  
  color: #fff;
  text-align: center;
  

}



ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 600px;

}

ul li {
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 0.5px solid transparent;
	transition: 0.8s ease;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;

}

.title{
position: absolute;
top: 50%;
left:51%;
transform: translate(-50%,-51%);
}

.title h1{
	color: #fff;
	font-size:60px;
}

.button {
	position: absolute;
top:60%;
left:50%;
transform: translate(-50%,-50%);

}

.btn {
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;


}

.btn:hover{
	background-color: #fff;
	color: #000;

}

p{
	color: #fff;
	text-align: center;
	font-size: 25px;
	text-shadow: 1px 1px 1px red;
}

.fa {
  padding: 15px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50%;
  box-shadow: 2px 3px 3px purple;
}

.fa:hover {
    opacity: 0.9;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #cb2027;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.foot{
position: absolute;
top:80%;
left:42%;
font-size: 23px;


}

/*container*/
/*class design */
.btn-blue {
  background-color: #fff;
  color: black;
  padding: 19px 48px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  margin-top: 200px;
  margin-left: 650px;
} 

.banr {
  background-image: url();
  background-size: cover;
  color: white ;
  text-align: center;
  padding: 20px 0px;
  background-size: 100%; 
}

.banner {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white ;
  text-align: center;
  padding: 100px 0px;
  background-size: 100%; 
}
.card-white {
  background: white;
  box-shadow: 1px 1px 10px ;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  padding: 18px;
  margin: 60px;
  margin-top: 200px;
  margin-left: 320px;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 16px;
}

/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}


#button1{
    width: 300px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
    box-shadow: 2px 2px 2px red;
    
    }


 
#button2{
    width: 300px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
    box-shadow: 2px 2px 2px darkblue;
    

}
#container{
	margin-top: 200px;
    text-align: center;
}

.rrr a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 40px;
}

.rrr a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}


.round {
  border-radius: 50%;
}



